.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {

    width: 80%;
}


.paragraph {
    font-weight: bold;
    position: absolute;
    top: 1rem;
    margin: 0;
}