.container{
display:flex;
width: 90vw;
max-width:35rem;
justify-content: space-between;
padding: 0 1rem;
}

.value{
font-weight:800;
font-size: 1rem;
text-align:center;
}

.editN{
display:none;
margin-right: 1rem;
}

.editContainer{
    display:flex;
   
}

.changeWrapper{
    display:flex;
    flex-direction:column;
}

.button{
    list-style-type: none;
    text-decoration: none;
    padding: 0.8rem 0rem;
    width:10rem;
    margin-top:1rem;
    border-radius: 1.4rem;
    border:none;
    background-color:blue;
    color:white;
    text-transform: uppercase;
    transition: ease-in-out .2s;
    cursor:pointer;
}

.input{
    width: 12rem;
height:2.5rem;

border-radius: 2.5rem;
padding-left: 4rem;
border:none;
margin-top:0.5rem;
background-color: white;
}

@media only screen and (min-width:720px) {
    .value{
        font-size:1.2rem;
    }
    .editN{
        display:block;
    }
    .button{
    width:5rem;
    }
    .input{
        margin-right:3rem;
    }
    .changeWrapper{
    flex-direction: row;
    align-items:center;
    }
 }
 