.challengeText__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:1rem;
    width: 90%;
    
}

.ChallengeTextDisplayNone {
    display: none;
}

.ChallengeTextDisplayBlock {
    display: block;
}

.challengeTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.challengeTextTitle {
    margin-right: 2rem;
    font-weight: bold;
}

.challengeTextIcon {
    width: 4rem;
}

.challengeTextParagraph {
    line-height: 2.5rem;
}

.challengeTextFlag {
    width: 4rem;
    height: 2rem;
}

@media only screen and (min-width:1100px) {

    .challengeText__container {
        width: 50%;
        
    }

}