.donationCounter {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: -2rem;
    height: 0rem;
    width: 0;
}

.personalInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

.popupDestinations {
    color: var(--hoverButton);
    display: flex;
    justify-content: center;
}

.popupName {
    font-weight: bold;
    font-size: 1rem;
}

.popUpAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 20rem;
}

.righterpopup {
    margin-left: 2rem;
}

.currentCarrier__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 5rem;
    
}

.currentCarrierName {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--hoverButton);
}

.positioningPopup {
    position: fixed;
    top: 8rem;
    left: 8%;
    z-index: 99;
}

.animationDisplayNone {
    display: none;
}

.animationDisplayBlock {
    display: block;
}

.currentCarrierKmToGO {
    font-size: 1rem;
    font-weight: bold;
}

.currentCarrierKmDone {
    font-size: 1rem;
    font-weight: bold;
}

.currentCarrier__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currentCarrierImage {
    width: 10%;
    border-radius: 6rem;
}

.progressbarLocation {
    position: fixed;
    z-index: 2;
    left: 4%;
    bottom: 7rem;
}

.crossPopUp {
    display: flex;
    justify-content: flex-end;
}


.iconMessage {
    position: absolute;
    z-index: 3;
    right: 2rem;
    top: 50%;
    cursor:pointer;
}

.popupFlag {
    width: 3rem;
}

.iconInfo {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 2rem;
}


@media only screen and (min-width:720px) {
    .donationCounter {
        left: 55%;
    }

    .progressbarLocation {
        left: 24%;
        bottom: 3rem;
    }

    .iconInfo {
        left: 9rem;
    }
}

