.donationCounter {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: -2rem;
    height: 0rem;
    width: 0;
}

.progressbarLocation {
    position: absolute;
    z-index: 2;
    left: 4%;
    bottom: 10rem;
}

@media only screen and (min-width:720px) {
    .donationCounter {
        left: 55%;
    }

    .progressbarLocation {
        left: 24%;
        bottom: 3rem;
    }
}

