.donationCounter {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: -2rem;
    height: 0rem;
    width: 0;
}

.personalInformation {
    display: flex;
}

.popUpAvatar {
    width: 50%;
    border-radius: 6rem;
}

.righterpopup {
    margin-left: 2rem;
}

.progressbarLocation {
    position: fixed;
    z-index: 2;
    left: 4%;
    bottom: 7rem;
}

.iconMessage {
    position: absolute;
    z-index: 3;
    right: 2rem;
    top: 50%;
    cursor:pointer;
}

.iconInfo {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 2rem;

}

@media only screen and (min-width:720px) {
    .donationCounter {
        left: 55%;
    }

    .progressbarLocation {
        left: 24%;
        bottom: 3rem;
    }

    .iconInfo {
        left: 9rem;
    }
}

