.message__image {
    width: 1.8rem;
    margin-right: 1rem;
}

.message__container {
    display: flex;
    margin: 5%;
}

.message__name {
    font-weight: bold;
}

.message__contentName {
    width: 80vw;
}