.mapboxContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mapboxButton {
    position: absolute;
    z-index: 2;
    top: -5%;
    height: 23vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapbox2 {
 width: 100vw;
 height: 20vh;
}

.mapboxButton:hover {
    background-image: url('../../../../../assets/tracker/background2.svg');
}

@media only screen and (min-width:720px) {
   .mapboxButton {
       height: 100%;
       width: 40vw;
       top: 0;
   }

   .mapbox2 {
    width: 40vw;
    height: 100%;
   }
}