.livechat__container {
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../../../../../assets//tracker//background.svg');
    
}

.livechat__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 10;
    cursor:pointer;
}

.chatIn {
    right:0;
    transition: ease-in-out all 0.3s;
}
.chatOut {
    right:-50rem;
    transition: ease-in-out all 0.3s;
}



.messages {
    height: 75vh;

    overflow: hidden;
    overscroll-behavior-y: scroll;
    
}

.input__wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:720px) {
    .livechat__container {
        width: 30rem;
        position: fixed;
        overflow: hidden;
    
    }

    .messages {

        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        overflow: scroll;

    
        
        
    }
}