.video {
    width: 60%;
    height: 80%;
    border-radius:2rem;
    margin:auto;
    display: flex;
    align-items: center;
}

.videoContainer {
display: flex;
align-items: center;
}

.VideoDisplayNone {
    display: none;
}

.videoDisplayBlock {
    display: block;
}