.involvement__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 3;



}

.counter {
    background-color: var(--colorH3Dark);
    height: 5rem;
    letter-spacing: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    color: var(--colorBGMain);
    font-weight: bold;
    font-size: 1.8rem;
}

.involvementPhoto {
    margin-bottom: -4rem;
}