.involvement__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1;



}

.counter {
    background-color: var(--colorH3Dark);
    height: 5rem;
    letter-spacing: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    color: var(--colorBGMain);
    font-weight: bold;
    font-size: 1.8rem;
    z-index:1;
}

.added{
   
}

.involvementPhoto {
    margin-bottom: -4rem;
}
.added{
    display:block;
    position: fixed;
    z-index:0;
    font-size:2rem;
    font-weight:800;
    color:green;
    }
  
    .left{
        left:15rem;
    }
    
    .right{
        left:5rem;
    }
    
    .out{
        transform: translateY(-35rem);
        transition: ease-in all 2.5s;
    }
    
    .in{
       bottom:2rem;
       transform: translateY(7rem);
    }

    @media only screen and (min-width:700px) {

      
        .left{
            left:20rem;
        }
        
        .right{
            left:30rem;
        }
        
        .out{
            transform: translateY(-35rem);
            transition: ease-in all 2.5s;
        }
        
        .in{
           bottom:2rem;
           transform: translateY(7rem);
        }
    
            
    }
    

@media only screen and (min-width:1300px) {

      
    .left{
        left:25rem;
    }
    
    .right{
        left:14rem;
    }
    
    .out{
        transform: translateY(-35rem);
        transition: ease-in all 2.5s;
    }
    
    .in{
       bottom:2rem;
       transform: translateY(7rem);
    }

        
}
