
.container__wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;

}
.wrapper{
    width:80vw;
    height:90vh;   
}
.progressWrapper{
    
    display:flex;
    justify-content:center;
}

.buttonsWrapper {
    margin-top: 3rem;
}

.underground{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.button{
    margin-top:2rem;
}

@media only screen and (min-width:1400px) {
.wrapper{
    display:flex;
    width:70%;
    flex-direction:space-between;
    justify-content: center;
}

.progressWrapper{
    display:flex;
    justify-content:space-between;
    width:20rem;
}
.container__wrapper{
    display:flex;
    width:100vw;
    height:100vh;

}
}




