
.container__wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    overflow:scroll;

}
.arrow{
    position:absolute;
    top:4rem;
    left: 3rem;
 }


.wrapper{
    width:80vw;
    height:90vh;  
    align-items:center; 
}
.progressWrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}
::-webkit-scrollbar {
    display: none;
}
.buttonsWrapper {
    display:flex;
    flex-direction:column-reverse;
    align-items: space-around;
    justify-content: space-around;
   height: 10rem;
}

.button{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.underground{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: unset;
}


@media only screen and (min-width:720px) {
    .container__wrapper{
        height:100vh;
        overflow:scroll;

    }
    .buttonsWrapper {
        margin-top: 3rem;
        width:20rem;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
   

    .leftButton{
        margin-left:2rem;
        width:20rem;
    }
    
    }
    

@media only screen and (min-width:1400px) {
.wrapper{
    display:flex;
    width:100%;
    justify-content:center;
}
.progressWrapper{
    display:flex;
    justify-content:space-between;
    width:20rem;
    height:100vh;
    align-items:center;
}
.container__wrapper{
    display:flex;
    width:85vw;
    height:100vh;
}


.specialWrapper{
    margin-left:15vw;
 }
 
.underground {
    width: 40vw;
}
}




