
.container__wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:90vh;

}
.wrapper{
    width:80vw;
    height:90vh;  
    align-items:center; 
}
.progressWrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}

.buttonsWrapper {
    margin-top: 3rem;

}

.underground{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: unset;
}


@media only screen and (min-width:720px) {
    .container__wrapper{
        height:110vh;
    
    }
    
    }
    

@media only screen and (min-width:1400px) {
.wrapper{
    display:flex;
    width:100%;
    justify-content:center;
}
.progressWrapper{
    display:flex;
    justify-content:space-between;
    width:20rem;
    height:100vh;
    align-items:center;
}
.container__wrapper{
    display:flex;
    width:85vw;
    height:100vh;
}

.underground {
    width: 40vw;
}
}




