.popupIcon {
    background-color: var(--colorSecondary);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
   

}


.popupIcon::after {
    content: url('../../../assets//icons//triangle.svg'); 
    margin-left: 1rem;
    margin-bottom: .3rem;
    height: 100%;
}

.iconImage{
    transform: rotate(270deg);
    height:1rem;
}

.wrapper{
    cursor:pointer;
    display:flex;
    flex-direction:row;
    height:3rem;
    width:10rem;
    transform: rotateZ(90deg);
    justify-content:space-around;
    align-items:center;
    background-color: var(--colorSecondary);
    border-radius:3rem;
}
.text{
    transform: rotateY(-180deg);
    transform: rotateX(-180deg);
    padding-right:1rem;

    color:white;

    font-family: var(--fontButtons);
}
.feedIcon{
    height:2rem;
    transform: rotate(90deg);
}
.feedIcon:after{
    content: url('../../../assets//challenge/blueArrow.svg');
    position:relative;
    bottom:2rem;
    left:7rem;
 
}
