.carrier__container {
    height: 100vh;
}

.sliderPosition {
    position: fixed;
    bottom: 5rem;
}

@media only screen and (min-width:720px) {
    .carrier__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .sliderPosition {
        position: unset;
    }
 }