.carrier__container {
    height: 100vh;
    overflow-x: scroll;
}

.sliderPosition {
    position: fixed;
    bottom: 5rem;
    width: 100%;
}

.noCarrier__text {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    line-height: 2.3rem;
}

.pink__text {
    color: var(--hoverButton);
}

.containerDetail {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.noCarrier__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 20rem;
}

.noCarrierSelected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sliderFeedback {
    margin-top: 0;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--hoverButton);
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
    

}

@keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
}

.mapbox3 {
    height: 13rem;
}


.detailTitle {
    display: flex;
    justify-content: center;
    border-bottom: 1px var(--colorH3Dark) solid;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 2rem;
    color: var(--colorH3Dark);
}

@media only screen and (min-width:720px) {
    .carrier__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .noCarrier__container {
        
        margin-bottom: 0;
    }

    .sliderPosition {
        position: sticky;
        bottom: -1rem;
        width: 100%
    }
 }


 @media only screen and (min-width:1300px) {
    .carrier__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .sliderPosition {
        position: unset;
        width: unset;
    }


    .sliderFeedback {

        height: 100vh;
  
    
    }
 }

