
.button__popup {
    margin-left: -2rem;
}

.personal{
    margin-top:1rem;
    margin-bottom:2rem;
}
@media only screen and (min-width: 720px) {
    .formField__identification {
        margin-right: var(--spacerBig) ;
    }

    .identificationNumberAge__wrapper {
        display: flex;
    }
  }
