.info {
    display: flex;
    justify-content: space-between;
}

.indicator {
    position: relative;
    top: 3.5rem;
}

.progressTitle {
    margin: 0;
    font-weight: bold;
}

p{
    margin: 0;
}