.informationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.stateContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.statePicture {
    grid-row: 1;
    grid-column: 1;
    width: 15rem;
    height: 15rem;
    position: relative;
    top: 10rem;
    right:-9rem;
    z-index: 3;
   

    
}

.currentCarrierState {
    background: url('../../../../../assets//logo.svg');
    background-size: 6rem;
    background-repeat: no-repeat;
}

.awaitingCarrierState {
    background: url('../../../../../assets/carrier//awaiting_flower.svg');
    background-size: 5rem;
    background-repeat: no-repeat;
}

.completedState {
    background: url('../../../../../assets/carrier/completedState.svg');
    background-repeat: no-repeat;
    background-size: 4rem;

}

.carrierPage__profilePic {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    grid-column: 1;
    grid-row: 1;
}

.informationContainer2 {
    width: 70%;
}

.nameAndFlag {
    display: flex;
    align-items: center;
}

.nameCarrierInfo {
    margin-right: 2rem;
}

.carrierPageFlag {
    width: 4rem;
    height: 2rem;
}

.personalInfoWrapper {
    display: flex;
    width: 100%;
}

.personalInfoWrapperBio {
    display: flex;
    flex-direction: column;
}

.personalInfoSection1 {
    display: flex;
    flex-wrap: wrap;
}

.textBio {
    line-height: 2.5rem;
}

.title__personalInfo {
    color: var(--hoverButton);
    font-weight: bold;
    font-size: 2rem;
}

.label {
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 0;
}

.socialMediaWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20rem;
}

.socialMediaIcon {
    margin-left: 1rem;
    margin-right: 1rem;
}


@media only screen and (min-width:720px) {
    .informationContainer {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .socialMediaWrapper {
        margin-bottom: 2rem;
    }
    
    .informationContainer2 {
        width: 80%;
    }

 }