.challenge__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    overflow-x:hidden;

 
    
}

.progress {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:8rem;
    padding:1rem;
}

.popUP{
    right:-2.5rem;
    position:fixed;
    top:40%;
    z-index:3;
}


@media only screen and (min-width:1300px) {
    .challenge__container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 10rem 25rem 22rem ;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .involvement__container {
        position: relative;
        bottom: 7rem;
        background-color: var(--colorBGMain);
        margin-right: 5rem;
    }
    .progress {
        grid-row: 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:0rem;
    }
}
