.donationCounter__container {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(-50%, -50%);
    background-color: var(--colorBGDark);
    width: 70vw;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 3.2rem;
}

.treesSaved {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width:720px) {
    .donationCounter__container {
        width: 50vw;
    }
}

@media only screen and (min-width:1400px) {
    .donationCounter__container {
        width: 30vw;
    }
}