.donationCounter__container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(-50%, -50%);
    background-color: var(--colorBGDark);
    width: 30vw;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

.treesSaved {
    display: flex;
    align-items: center;
    justify-content: center;
}