.wrapper{
 display: flex; 
 width: 100vw;
 

}
.container{
    background-color: var(--colorBGDark);
    display:flex;
    justify-content:center;
    align-items: flex-end;
    height: 6rem;
    width: 100vw;
    bottom:0rem;
    padding-top: 1rem;
    z-index:1;
    position: absolute;
}

.navWrapper{
   display:flex;
   width: 100vw;
   justify-content: space-around;
   align-items: center;
}

.active{
    position:absolute;
    top:1rem;
    background-color: var(--colorBGMain);
    border-radius:10rem;
    width:3rem;
    height:3rem;  
    top:.5rem;
}

.activeTR{
    left:8vw;
    transition: ease-in-out all 0.3s
}

.activeCH{
    left:34vw;
    transition: ease-in-out all 0.3s
}

.activeCA{
    left:59vw;
    transition: ease-in-out all 0.3s
}

.activeAC{
    left:83.5vw;
      transition: ease-in-out all 0.3s
}


.activeImage{
    width:2rem;
    position: relative;
}

.activeImageCenter{
    top:18%;
    left:17%;
}


@media only screen and (min-width:720px) {
    
        
.active{
    background-color: var(--colorBGMain);
    border-radius:10rem;
    width:4rem;
    height:4rem;  
    left:1.5rem;
}

.activeImage{
    width:2.5rem;

}

.activeTR{
    top:8vh;
}
.activeCH{
    top:33.5vh;
}
.activeCA{
    top:59vh;
}
.activeAC{
    top:85vh;
}


.activeImageCenter{
    top:20%;
    left:20%;
}

    .wrapper{
        display: flex;
        flex-direction: column;
        height:100vh;
        
        
        justify-content: space-between;
        align-items:center;
    }
    .container{
        background-color: var(--colorBGDark);
        display:flex;
        justify-content:center;
        align-items:space-evenly;
        padding: 1rem 1rem;
        height: 100vh;
        width: 5rem;
        position:static;
    }
    .navWrapper{
        display:flex;
        height: 100vh;
        width: unset;
        padding-top: 4rem;
        padding-bottom: 2rem;
        justify-content:space-between;
        flex-direction:column;
    }
 }
 @media only screen and (min-width:1025px) {

    .container{
        background-color: var(--colorBGDark);
        display:flex;
        justify-content:center;
        align-items:center;
        padding: 1rem 1rem;
        height: 100vh;
        width: 5rem;
        position: static;
    }
  
 }

