
.container{
    display:flex;
    justify-content:space-between;
    align-items:center;


}
.profileWrapper{
    display:flex;
    width:16rem;
    align-items:center;
    justify-content:space-between;
}
.content{
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-bottom: solid 1px white;
    margin-bottom: 2rem
    width
}
.user{
    font-weight:1000;
    margin-top:2rem;
    width:18rem;
    margin-left:2rem;
}
.pic{
width:3rem;
border-radius: 2rem;
}
.text{
    max-width:30rem;
}
.image{
    width:80vw;
    border-radius:3rem;
    margin-top:0.5rem;
}

@media only screen and (min-width:720px) {
    
    .image{
        width:102vw;
        border-radius:3rem;
        margin-top:0.5rem;
    }
    .content{
        margin-top: 1rem;
        padding: 2rem 2rem;
        border-bottom: solid 1px white;
        margin-bottom: 2rem;
    }
           
 }

@media only screen and (min-width:1100px) {
    
    .image{
        width:25vw;
    }
    .content{
        margin-top: 0rem;
        padding: 2rem 2rem;
        border-bottom: solid 1px white;
        margin-bottom: 0.5rem;
    }
    .social{
        width:2rem;
    }
           
 }

