.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:10rem;
}
.image{
    width:3rem;
}
.link{
    text-decoration:none;
    color:#EFE9DC
}