.hidden{
    display:none;
}
.container{

    overflow: hidden;
    overflow-x:hidden;
    height: 100%;
    width: 100vw;
    
}

@media only screen and (min-width:720px) {
    .container{
    display: grid;
    grid-template-columns: 7rem 1fr;
    flex-direction: row;
    align-items:flex-start;
    height:100vh;
    }
 }

 @media only screen and (min-width:1100px) {
    .container{
        grid-template-columns: 7rem 1fr;
    }
 }
