.landing__container{
    position: fixed;
    display:inline-flex;
    display:hidden;
    margin-top:-2rem;
    width:100vw;
    height:110%;

}
.rightSide{
   position: absolute;
   display:inline-block;
   z-index:2;
   left:140vw;
   background-color:var(--colorBGMain)
}


@media only screen and (min-width:1400px) {
   .rightSide{
    position:static;
   }
}