.landing__container{
    display:flex;
}
.rightSide{
   position:static;
   z-index:2;
   left:120vw;
   background-color:var(--colorBGMain)
   @media (--only-medium-screen) {
   position:static;
  }
}


@media only screen and (--only-) {
    body {
      background-color: lightblue;
    }
  }